@import url(../../styles/index.css);
.main__container {
    display: block;
}

.wishlist__header {
    margin: 5rem auto;
}

.card__image>img {
    width: 30rem;
    height: 28rem;
    object-fit: cover;
}

.btn {
    width: 90%;
    margin: 1rem auto;
}

.wishlist__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 640px) {
     :root {
        font-size: 55%;
    }
}