@import url(../../styles/index.css);
.main__container {
    grid-area: main;
    padding: 2rem;
    border: 1px solid var(--gray);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    min-height: 80vh;
    gap: 5rem;
    background-color: var(--white);
    border-radius: 1rem;
}

.card__horizontal {
    background-color: var(--white);
    height: 30rem;
}

.card__buttons {
    flex-direction: column;
    width: 100%;
}

.card__footer {
    border: none;
}

.card__quantity {
    padding: 1rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.cart__container>.card__horizontal>.card__footer {
    gap: 1rem;
    justify-content: space-around;
}

.cart__container>.card__horizontal>.card__footer>.card__buttons {
    margin: 0;
}

.main__container>.cart__container>.card__horizontal>.card__footer>.card__buttons>.btn {
    width: 80%;
    margin: 1rem auto;
}

.cart {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--gray);
    border-radius: 1rem;
    background-color: var(--white);
    padding: 2rem;
    margin: 1rem;
}

.cart>.btn {
    width: 100%;
    margin: 0;
}

.cart__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex__row {
    display: flex;
    justify-content: space-between;
}

.quantity__btn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white);
    border: 1px solid var(--dark);
    border-radius: 50%;
    color: var(--dark);
}

@media only screen and (max-width: 768px) {
    .cart__container>.card__horizontal {
        width: max-content;
        height: 28rem;
    }
    .cart__container>.card__horizontal>.card__image>img {
        width: 20rem;
        height: 100%;
    }
}