.home__container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: 8rem auto 15rem;
    grid-template-columns: 1fr;
}

.main__container {
    grid-area: main;
    margin: 4rem 1rem;
    min-height: 80vh;
    border: 1px solid var(--gray);
    padding: 5rem 0;
    border-radius: 1rem;
    background-color: var(--white)
}

.footer {
    grid-area: footer;
    background-color: var(--dark);
    color: var(--white);
    margin: 2rem 0 0 0;
    padding: 3rem 0 0 3rem
}

.footer__icons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    cursor: pointer;
}

.categories .card {
    width: 20rem;
    height: 25rem;
}

.categories .card .responsive__img {
    height: 25rem;
}

.center__image {
    margin: 0 auto 5rem;
    padding: 5rem;
}

.center__image>img {
    border-radius: 2rem;
}

.bottom__categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem auto 2rem auto;
}

@media (max-width: 768px) {
    .center__image {
        margin: 0 auto 5rem;
        padding: 0rem;
    }
    .center__image>img {
        border-radius: 0;
    }
}