.error404 {
    max-width: 60rem;
    display: block;
    margin: 5rem auto;
}

.pointer {
    cursor: pointer;
}

.flex-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}